# Default values for wp-project-skeleton.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  registry: ""
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

replicaCount: 1
updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 25%
    maxUnavailable: 25%
terminationGracePeriodSeconds: 45
affinity: {}
nodeSelector: {}
tolerations: []
resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 256Mi

cron:
  enabled: true
  schedule: "*/5 * * * *"

service:
  type: ClusterIP
  port: 80

# Use Ingress config from bitnami/wordpress chart but with some defaults.
ingress:
  enabled: true
  pathType: ImplementationSpecific
  ingressClassName: nginx
  hostname: wp-project-skeleton.local
  path: /
  annotations: {}
  tls: false
  tlsWwwPrefix: false
  selfSigned: false
  extraHosts: []
  extraPaths: []
  extraTls: []
  secrets: []
  extraRules: []

pdb:
  create: true
  minAvailable: 1
  maxUnavailable: ""

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 11
  targetCPU: 80
  targetMemory: 80

nginx:
  image:
    tag: stable
    pullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 128Mi
  clientMaxBodySize: 100M
  disallowRobots: false
  s3Rewrite: true
  canonicalHostname: ""
  additionalConfiguration: |
    # Add custom NGINX configuration here

redis:
  architecture: standalone
  auth:
    enabled: false
  master:
    persistence:
      enabled: false
  replica:
    replicaCount: 0

newrelic-php-agent:
  replicaCount: 1
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 128Mi

app:
  homeUrl: "" # Defaults to ingress hostname.
  siteUrl: "" # Defaults to homeUrl + /wp.
  environment: production
  debug: false
  multisite: false
  domainCurrentSite: "" # Defaults to ingress hostname.
  cache: true
  authKey: "" # Required.
  secureAuthKey: "" # Required.
  loggedInKey: "" # Required.
  nonceKey: "" # Required.
  authSalt: "" # Required.
  secureAuthSalt: "" # Required.
  loggedInSalt: "" # Required.
  nonceSalt: "" # Required.
  mailFromName: "" # Required.
  dbName: "" # Defaults to internal subdomain name.
  dbUser: "" # Defaults to internal subdomain name.
  awsRegion: "" # Set default AWS region for all services.
  s3UploadsBucket: "" # Defaults to media.wpd.digital with internal subdomain name in path.
  s3UploadsBucketUrl: "" # Defaults to https://media.wpd.digital with internal subdomain name in path.
  s3UploadsRegion: "" # Defaults to awsRegion.
  redisHost: "" # Defaults to release name + -redis-master.
  redisPrefix: "" # Defaults to release name.
  cdnDomain: "" # Defaults to internal site domain.
  newrelicDaemonAddress: "" # Defaults to release name + -newrelic-php-agent and newrelic-php-agent port.
  inncognitoDomain: ""
  inncognitoRegion: "" # Defaults to awsRegion.
  inncognitoRedirectUri: ""
  inncognitoForceCognito: true
  awsLambdaImageRegion: "" # Defaults to awsRegion.
  awsLambdaImageFunction: image-editor-production-processor
  awsLambdaCriticalCssRegion: "" # Defaults to awsRegion.
  awsLambdaPrerenderRegion: "" # Defaults to awsRegion.

# Set custom environment variables for the container.
env: {}

livenessProbe:
  enabled: true
  httpGet:
    path: /wp/wp-admin/install.php
    port: http
  httpHeaders:
    - name: X-Probe-Header
      value: liveness
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1
readinessProbe:
  enabled: true
  httpGet:
    path: /wp/wp-login.php
    port: http
  httpHeaders:
    - name: X-Probe-Header
      value: readiness
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1
